<ul style="margin-top: 70px;">
<li class="col-md-3" *ngFor="let item of items" style="float: left; list-style-type: none; margin-bottom: 15px;">
<div class="card" style="float: left; width: 18rem">
  <img [src]="item.imageUrl" class="card-img-top" style="height: 200px; width: 100%;" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.name}} &#8377;{{item.price}}/kg</h5>
    <div style="float: left;">
    <button type="button" class="btn btn-outline-info disabled">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="increaseItem(item)">+</button>
    <button type="button" class="btn btn-outline-dark" (click)="decreaseItem(item)">-</button>
    </div>
    <h3 style="float: right;"><span class="badge badge-secondary">{{item.qty}}</span></h3>
  </div>
</div>
</li>
</ul>